/*

!/.gitignore
!/mimeapps.list
!/user-dirs.dirs
!/gtk-3.0/
!/systemd/
!/xdg-desktop-portal/
!/xdg-desktop-portal-termfilechooser/

!/hypr/
!/waybar/
!/waybar-module-music/
!/rofi/
!/dunst/
!/swww/

!/kitty/
!/nvim/
!/tmux/tmux.conf
!/yazi/
!/btop/
!/fastfetch/
!/cava/

!/ibus/
!/spotify-player/
!/aurlist.txt
!/pkglist.txt
